    <header>
        <link href="https://fonts.googleapis.com/css?family=Nixie+One" rel="stylesheet">
    </header>
   <div (click)="gotoTop()" class="container text-center"><P>BACK TO TOP</P>
   <img src="/assets/icons/up.png" ></div>
 <footer class="container-fluid bg-4 text-center">
<p><img src="/assets/icons/flower.png" class="logoimg"> &nbsp;&nbsp;© 2018 Copyright: &nbsp;<a href="http://www.xmllllll.com">www.xmllllll.com</a></p>
    <p>- you may not take any images or content from this site without written permission -</p>
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center" class="social_media">
        <a href="" target="_blank"><img src="/assets/icons/snap.png" alt=""></a>
        <a href="https://www.facebook.com/xiameng.li" target="_blank"><img src="/assets/icons/fb.png" alt=""></a>
       <a href="" target="_blank"> <img src="/assets/icons/msg.png" alt=""></a>
       <a href="https://www.instagram.com/xmllllllllll/" target="_blank"><img src="/assets/icons/insta.png" alt=""></a>
        <a href="" target="_blank"><img src="/assets/icons/wech.png" alt=""></a>
        <a href="https://github.com/xiamli/" target="_blank"><img src="/assets/icons/gith.png"></a>
    </div>
  </footer>    
