 <div fxLayout="column" fxLayoutGap="15px">
 <div class="container logo">
      <div class="row justify-content-center">
        <img class="" src="/assets/logo.png">
      </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px" data-spy="affix" data-offset-top="197">
    <ul [routerLink]="['/home']">HOME</ul>
    <ul>GALLERY</ul>
    <ul>FILM CAMERA</ul>
    <ul class="menu_logo" >
      <img src="/assets/icons/xmli.png">
    </ul>
    <ul [routerLink]="['/travel']">TRAVEL MAP</ul>
    <ul>ABOUT</ul>
    <ul [routerLink]="['/contact']">CONTACT</ul>
  </div>
  </div>  

