#logo{
    margin: 0px;
}
ul {
    list-style: none;
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
  }

ul:link {
    color:black;
}
ul:focus{
    outline: none;
}
/* mouse over link */
ul:hover {
    color: #cc7a00;
}
#myCarousel {
    width: 70%;
    border: 12px solid white;
}
body{
    background-color: #FCF3F4;
}
.menu_logo {
    display:none;
}
.menu_logo img{
    width:80%;
}
.affix .menu_logo {
    display: block;
}
.affix {
    top: 0;
    background-color: #FCF3F4;
    width: 100%;
    height: 50px;
    z-index: 9999 !important;
}

.affix + .container-fluid {
    padding-top: 70px;
}